.example-card {
    /* top: 20px;
    max-width: 80%;
    vertical-align: middle; */
    width: 80%;
    display: block;
    margin-left:auto;
    margin-right:auto;  
    /* vertical-align:middle; */
  }
  .linkColour{
    color: #008CBA
}
.centerText {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}