<div class="w3-content w3-container w3-padding-64">
    <h3 class="w3-center"><i>Who am I</i></h3>
    <p class="w3-center"><em><h1>My name is <b>Prince Kumar</b></h1></em></p>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <img src="../../assets/profile.jpeg"
                class="w3-round w3-image w3-hover-opacity" alt="Photo of Me" width="500" height="333">
        </div>

        <div class="w3-col m6 w3-hide-small w3-padding-large">
            <p>Currently I am a student pursuing MCA from Pune University Computer Science Department</p>
                <p>I am from Ranchi, Jharkhand . I love to travel, play sports, meet
                    with friends and eating.</p>
            </div>
        </div>
        
</div>

