.example-card {
    
    /* width: 70%; */
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%
  }
  
mat-raised-button{
    height: 100px;

}
  /* mat-grid-tile {
    background: lightblue;
  } */
  