<div class="w3-content w3-container w3-padding-64" id="contact">
    <h3 class="w3-center">HOW TO CONTACT ME</h3>
    <p class="w3-center"><em>I'd love hear from you!</em></p>

    <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m12 w3-panel w3-center">
            <p>You can contact me through the traditional way:</p>
            <div class="w3-large w3-margin-bottom">
                <i class="fa fa-map-marker fa-fw w3-xlarge w3-margin-right"></i>Pune University Computer Science Department<br>
                <i class="fa fa-envelope fa-fw w3-xlarge w3-margin-right"></i>prince.kumar267@gmail.com<br>
            </div>
            <p>Or if you preffer con could also contact me by:</p>
            <div class="w3-large w3-margin-bottom ">
                <i class="fa fa-linkedin-square w3-xlarge w3-margin-right linkColour" aria-hidden="true"></i><a
                    href="https://www.linkedin.com/in/prince-kumar-00086b148/" target="_blank">LinkedIn</a><br>
                <i class="fa fa-github w3-xlarge w3-margin-right" aria-hidden="true"></i><a
                    href="https://github.com/prince267" target="_blank">GitHub</a><br>
            </div>
        </div>
    </div>
</div>