<div class="bgimg-2 w3-display-container w3-opacity-min">
    <br>

    <mat-card class="experience-card">
        <mat-card-title class="companyName">Arvind Internet</mat-card-title>
        <mat-card-subtitle>Software Developer Intern</mat-card-subtitle>
        <mat-card-content>
            <div class="row">
                <div class="col-md-4"><b>From:</b> June,2019</div>
                <div class="col-md-4"><b>To:</b> December,2019</div>
                <div class="col-md-4 imageBlock"><img mat-card-image src="../../../assets/logoBlack.svg"
                        alt="Company Logo"></div>
            </div>
            <hr>
            <div class="row col-md-12">
                <mat-card-subtitle>Projects:</mat-card-subtitle>
    
            </div>
                <div class="row col-md-12"><b>Name: </b></div>
                <div class="row col-md-12">Performance centric application</div><br>
                <div class="row col-md-12"><b>Technologies: </b></div>
                <div class="row col-md-12">React Js,Html5</div><br>
                <div class="row col-md-12"><b>Responsabilities: </b></div>
                <div class="row col-md-12">We worked on Performance improvement across Server, Network, Application/Browser,
                    by using server-side caching, client-side caching/storage, html5, http header/protocol</div>
                <hr>
        </mat-card-content>
    </mat-card>
</div>