.project-card {
    width: 80%;
    display: block;
    margin-left:auto;
    margin-right:auto;  
  }
  .linkColour{
    color: #008CBA
}
.centerText {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}